<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Weather Site</title>
    <link rel="stylesheet" href="style.css">
    <script src="app.js" defer></script>

    <style>
        html{
            font-size: 14px;
        }       

        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 2rem;
            margin: 0;  /* Prevents Scroll Bar From showing if not needed*/

            
            display: flex;
            /* 
                justify-content and align-items are a part of flex
                justify-content is along the main axis(y-axxis)
                align-items is along the cross axis(x-axis)

                methods for them:
                - flex-start, flex-end, center, space-between, space-around, space-evenly
                */
            justify-content: center; 
            align-items: center;
            height: 100vh;  /* x-coord */
            width: 100vw;   /* y-coord */
            background-image: url('https://source.unsplash.com/2560x1440/?landscape');
        }
        
        .card {
            background: #000000d0;
            opacity: 70%;

            color: white;
            padding: 2em;
            border-radius: 30px;

            width: 20%;
            max-width: 30rem;
            margin: 2rem;

            position: fixed;
        }


        .buttons{
            /* width: calc(50%); */
            /* height: 4rem; */
            /* position: fixed; */
            display: flex;
            gap: 2rem;
        }
        
        .task-button{
            outline: none;
            border: none;
            opacity: 90%;
            border-radius: 20px;
            height: 4rem;
            width: 10rem;
            background-color: white;
        }

        .task-button:hover{
            background-color:antiquewhite;
        }


        /* Load Page Animation */
        .card {
            animation: transitionIn .80s;
        }

        @keyframes transitionIn {
            from {
                opacity: 0;
                transform: rotateX(-10deg);
            }

            to {
                opacity: 70%;
                transform: rotateX(0);
            }
        }

    </style>

</head>

<body>

    <div class="card">
        <!-- <a href="/weather">Weather</a> -->
        <h2>Weather Service</h2>
        <div class="buttons">
            <button onclick="window.location.href= '/weather';" class="task-button">
                Search Weather
            </button>
            <input type="button" value="History" name="history" class="task-button">
        </div>
    </div>


</body>



</html>